.container{
  border: 1px dashed #9c27b0;
  border-radius: 10px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.labelTag {
  align-self: baseline;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 15px;
  margin-bottom: 8px;
}

.label{
  display: none;
}

.uploadImageButton {
  background-color: #9c27b0;
  font-size: 10px;
  color: white;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.uploadImageButton:hover {
  background-color: rgba(217, 64, 244, 0.858);
  transition: 0.2s;
}

.imageDisplay {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 4px solid #9c27b0;
  margin: 20px 0px;
  cursor: pointer;
  opacity: 1;
}

.imageDisplay:hover{
  color: black;
  opacity: 0.9;
}

.previewImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}