.homepageContainer {
  display: flex;
  flex-direction: row;
}

.inputContainer {
  width: 40%;
  padding: 80px;
}

.imageContainer {
  width: 60%;
}

.image {
  height: 100vh;
  position: fixed;
}

.formContainer {
  padding: 0 40px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.textfieldContainer {
  display: flex;
  flex-direction: column;
}